<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/common/head :: head"></head>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <script th:inline="javascript">
        function openModifyModal(id,name,code,img) {
            var modal = $('#modifyModal');

            modal.find('#directorId').val(id);
            modal.find('#directorName').val(name);
            modal.find('#directorCode').val(code);
            modal.find('#directorImage').val(img);
            modal.modal('show');

        }
        function closeModifyModal() {
            var modal = $('#modifyModal');
            modal.modal('hide');
        }
    </script>
    <!-- Sidebar Start -->
    <head th:replace="/admin/common/sidebar :: sidebar"></head>
    <div class="body-wrapper">
        <!--  Header Start -->
        <head th:replace="/admin/common/menu :: menu"></head>
        <div class="container-fluid">


            <form th:action="@{/admin/movie/save}" th:object="${movie}" method="post" class="form_add_movie"
                  enctype="multipart/form-data" onsubmit="validateFormMovie(event)">
                <input type="hidden" th:value="${id != null ? id : '-1'}" name="id">
                <div class="seat_input">
                    <div class="row g-3">
                        <div class="col">
                            <div class="input-movie">
                                <label>Name</label>
                                <input type="text" id="nameMovie" th:field="*{name}" name="nameMovie" onblur="checkDuplicateMovieName()" class="form-control"/>
                            </div>
                            <span id="nameMovieErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                        </div>
                        <div class="col">
                            <div class="input-movie">
                                <label>Duration (minutes)</label>
                                <input
                                        type="number"
                                        id="movieDuration"
                                        name="movieDuration"
                                        class="form-control"
                                        th:field="*{movieDuration}"
                                />
                            </div>
                            <span id="movieDurationErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="form-group col flexDaoDien">
                            <label>Director
                                <button type="button" class="btn" data-bs-toggle="modal" th:attr="data-bs-target='#addDirectorModal'"
                                ><i class="fa fa-plus-circle" style="color: #0b856f"></i></button>
                            </label>
                            <select id="directorsSelect" class="form-control" name="director"  th:field="*{directors}" multiple="multiple" style="width: 100%;">
                                <option th:each="director : ${directors}"  th:value="${director.id}" th:text="${director.name}"
                                        th:selected="${#lists.contains(movie.directors, director)}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="date">
                                <div class="test">
                                    <div class="col-5">
                                        <spanl>From</spanl>
                                        <input
                                                type="text"
                                                id="premiereDate"
                                                name="premiereDate"
                                                placeholder="mm/dd/yyyy"
                                                class="form-control"
                                                th:value="${premiereDate}"
                                        />
                                        <span id="premiereDateErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                                    </div>
                                    <div class="col-5">
                                        <div class="movieEndDate">
                                            <span>To</span>
                                            <input
                                                    type="text"
                                                    id="endDate"
                                                    name="endDate"
                                                    placeholder="mm/dd/yyyy"
                                                    class="form-control"
                                                    th:value="${endDate}"
                                            />
                                        </div>
                                        <span id="endDateErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col">
                            <label for="directorsSelect">Movie Type
                                <button  type="button" class="btn" data-bs-toggle="modal" th:attr="data-bs-target='#addMovieTypeModal'"
                                ><i class="fa fa-plus-circle" style="color: #0b856f"></i></button>
                            </label>
                            <select id="movieTypeSelect" class="form-control"  name="movieType" multiple="multiple" style="width: 100%;">
                                <option th:each="movieType : ${movieTypes}" th:value="${movieType.id}" th:text="${movieType.name}"
                                        th:selected="${#lists.contains(movie.movieTypes, movieType)}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="input-movie">
                                <label>Trailer</label>
                                <input type="text" id="trailler" name="trailler" class="form-control" th:field="*{trailer}"/>
                            </div>
                            <span id="traillerErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col flexDaoDien">
                            <label>Language
                                <button type="button" class="btn" data-bs-toggle="modal" th:attr="data-bs-target='#addLanguageModal'"
                                ><i class="fa fa-plus-circle" style="color: #0b856f"></i></button>
                            </label>
                            <select id="languageSelect" class="form-control"  name="language" multiple="multiple" style="width: 100%;">
                                <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"
                                        th:selected="${#lists.contains(movie.languages, language)}">
                                </option>
                            </select>
                        </div>

                        <div class="col">
                            <div class="input-rated">
                                <label>Limited</label>
                                <select
                                        class="form-select"
                                        aria-label="Default select example"
                                        name="ratedId"
                                        th:filed="*{rated}"
                                >
                                    <th:block th:each="r : ${ratedId}">
                                        <option
                                                th:value="${r.id}"
                                        >[[${r.code}]] ([[${r.description}]])
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="form-group col flexDaoDien">
                                <label>Performer
                                    <button type="button" class="btn" data-bs-toggle="modal" th:attr="data-bs-target='#addPerformerModal'"
                                ><i class="fa fa-plus-circle" style="color: #0b856f"></i></button>
                                </label>
                                <select  id="performerSelect" class="form-control"  name="performer" multiple="multiple" style="width: 100%;">
                                    <option th:each="performer : ${performers}" th:value="${performer.id}" th:text="${performer.name}"
                                            th:selected="${#lists.contains(movie.performers, performer)}">
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="input-movie">
                                    <label>Details</label>
                                    <textarea type="text" id="description" rows="10" name="description" class="form-control" th:field="*{description}"/>
                                </div>
                                <span id="descriptionErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <div class="image_movie">
                                <label>Image</label>
                                <input type="file" id="image" name="image"/>
                            </div>
                            <span id="imageErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                        </div>

                    </div>
                </div>
                <br>
                <div class="btnAddMovie">
                    <button
                            type="submit"
                            class="btn btn-outline-success"
                            id="success"
                            onclick="return confirm('Are you sure')">
                        Add new Movie
                    </button>
                </div>
            </form>

            <head th:replace="/admin/common/js :: script"></head>
            <script>
                $(document).ready(function() {
                    $('#directorsSelect').select2({
                        placeholder: "Please select...",
                        allowClear: true
                    });
                });
                $(document).ready(function() {
                    $('#performerSelect').select2({
                        placeholder: "Please select...",
                        allowClear: true
                    });
                });
                $(document).ready(function() {
                    $('#movieTypeSelect').select2({
                        placeholder: "Please select...",
                        allowClear: true
                    });
                });
                $(document).ready(function() {
                    $('#languageSelect').select2({
                        placeholder: "Please select...",
                        allowClear: true
                    });
                });
            </script>
        </div>
    </div>
    <form th:method="Post" th:action="@{/admin/movie/add-director}" th:object="${director}" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="addDirectorModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label  class="form-label" >Name</label>
                            <label>
                                <input type="text" name="name" class="form-control"  >
                            </label>
                        </div>
                        <div>
                            <label class="form-label">Director image</label>
                            <input type="file"  class="form-control" name="image"/>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form th:method="Post" th:action="@{/admin/movie/add-movieType}" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="addMovieTypeModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label  class="form-label" >Movie Type Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form th:method="Post" th:action="@{/admin/movie/add-language}" th:object="${movieType}" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="addLanguageModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label  class="form-label" >Languague Name</label>
                            <input type="text" name="name" class="form-control">
                            
                        </div>
                        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form th:method="Post" th:action="@{/admin/movie/add-performer}" th:object="${performer}" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="addPerformerModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label  class="form-label" >Name</label>
                            <label>
                                <input type="text" name="name" class="form-control"  >
                            </label>
                        </div>
                        <div>
                            <label class="form-label">Performer image</label>
                            <input type="file"  class="form-control" name="image"/>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
